
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,500,600,700');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal; 
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: 'Poppins', sans-serif;
   font-weight: normal;
   color: #313131;
   margin-top: 0px;
   font-style: normal;
   font-weight: 400;
   text-transform: normal;
 }
header{
  background-image: url(img/slider.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 0;
}

.container{
  width: 93%;
  margin: auto;
}